# Python bytecode
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Virtual environments
.env
.venv/
venv/

# Django database
db.sqlite3

# Media files
media/

# Django migrations – keep .py files but ignore compiled bytecode
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd

# IDEs
.idea/

# macOS system files
.DS_Store
